@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Literata";
    src: url("/fonts/literata-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Sugo";
    src: url("/fonts/sugo-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    font-size: large;
  }
}

html {
  overflow-y: scroll;
  font-family: "Literata", sans-serif;
}

html,
body {
  @apply h-full w-full antialiased;
  @apply text-hitam/75;
}

body {
  @apply relative flex flex-col bg-ijo-muda;
  background-image: url("/noise.webp");
  background-repeat: repeat;
  background-size: 500px;
}

main {
  @apply flex flex-col flex-1;
}

header {
  @apply border-b;
  @apply transition-all duration-300 ease-in-out;
}

header:not(.scrolled) {
  @apply bg-transparent border-transparent;
}

header.scrolled {
  @apply bg-white;
  @apply border-hitam;
  @apply backdrop-blur-sm saturate-200;
}

header #header-content {
  @apply transition-all duration-300 ease-in-out;
}

header:not(.scrolled) #header-content {
  @apply mt-5;
}

header.scrolled #header-content {
  @apply mt-0;
}

.btn {
  border-radius: 999px;
  display: inline-flex;
  position: relative;
}

.btn__content {
  align-items: center;
  background-color: #f9a402;
  border: 1px solid #252525;
  border-radius: inherit;
  display: flex;
  gap: 0.5rem;
  height: 3.5rem;
  justify-content: space-between;
  min-height: 3.5rem;
  min-width: 100%;
  padding: 0 1.3rem;
  position: relative;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 2;
}

.btn.--light .btn__content {
  background-color: #fffaf5;
}

@media (hover: hover) and (pointer: fine) {
  .btn:hover .btn__content {
    transform: translate3d(0.4rem, 0.4rem, 0);
  }
}

.btn:after {
  background-image: url(/texture.png);
  background-size: cover;
  border: 1px solid #252525;
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translate3d(0.4rem, 0.4rem, 0);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  width: 100%;
  z-index: 1;
}

.btn.is-disabled {
  pointer-events: none;
}

.btn__arrow {
  transition: transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover .btn__arrow {
  transform: translateX(0.5rem);
}

.btn.--flipped:hover .btn__arrow {
  transform: scaleX(-1) translateX(0.5rem);
}

.whitespace-nowrap {
  white-space: nowrap;
}

@keyframes shakeHead {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.question-jar-btn:hover .question-jar-icon {
  animation: shakeHead 0.5s ease-in-out infinite;
}

/* auto */
.guide-btn[data-v-27e145af] {
  transition: opacity 0.5s ease-out;
  transition-delay: 2s;
}
.guide-btn.is-hidden[data-v-27e145af] {
  opacity: 0;
  pointer-events: none;
  transition-delay: 0s;
}
.guide-btn__content[data-v-27e145af] {
  background-color: #FFF;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (hover: hover) and (pointer: fine) {
  .guide-btn:hover .guide-btn__content[data-v-27e145af] {
    transform: translate3d(0.35em, 0.35em, 0);
  }
}
.guide-btn__hand[data-v-27e145af] {
  animation: hand-27e145af 1.5s ease-out infinite;
}
@media (hover: hover) and (pointer: fine) {
  .guide-btn:hover .guide-btn__hand[data-v-27e145af] {
    animation-play-state: paused;
  }
}
.guide-btn[data-v-27e145af]:after,
.guide-btn[data-v-27e145af]:before {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translate3d(0.35em, 0.35em, 0);
  width: 100%;
}
.guide-btn[data-v-27e145af]:before {
  background-color: #252525;
  opacity: 0.25;
  z-index: -1;
}
.guide-btn[data-v-27e145af]:after {
  background-image: url(/texture.png);
  background-size: cover;
  border: 1px solid #252525;
  z-index: -2;
}
@keyframes hand-27e145af {
  0% {
    transform: translateZ(0);
  }
  50% {
    transform: translate3d(0, -1rem, 0);
  }
  to {
    transform: translateZ(0);
  }
}

@media (min-width: 650px) {
  .s\:text-10 {
    font-size: 1rem;
  }
}

@media (min-width: 650px) {
  .s\:bottom-40 {
    bottom: 4rem;
  }
}

.media-contain img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.object-top {
  -o-object-position: top;
  object-position: top;
}

article {
  @apply prose max-w-full pb-12;
}

.page-heading {
  @apply font-semibold text-hitam;
}

.blend {
  @apply transition-all duration-300 ease-in-out;
}

/** Light theme particles on home page */
@keyframes animateParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

/** styles for public /animation.js */
.animate {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.animate.show {
  opacity: 1;
  transform: translateY(0);
}

article img {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  margin: 0 auto;
}

/**
 * TWINKLE STARS
 */

#twinkle-star.template {
  @apply absolute -left-full; /* hide offscreen */
}

#twinkle-star.twinkle {
  @apply animate-twinkle; /* defined in tailwind.config */
}

/**
 * Meteors
 */

#meteors .shower {
  @apply absolute inset-0 top-0;
  @apply left-1/2 -translate-x-1/2;
  @apply w-screen aspect-square;
}

#meteors .meteor {
  @apply animate-meteor; /* defined in tailwind.config */
  @apply absolute top-1/2 left-1/2 w-px h-[75vh];
  @apply bg-gradient-to-b from-white to-transparent;
}

#meteors .shower.ur {
  @apply rotate-45;
}

#meteors .shower.dr {
  @apply rotate-135;
}

#meteors .shower.dl {
  @apply rotate-225;
}

#meteors .shower.ul {
  @apply rotate-315;
}
