---
import PageLayout from "@layouts/PageLayout.astro"
import Container from "@components/Container.astro"
---

<PageLayout title="404: Not Found" description="Sorry, the page you were looking for doesn't exist.">
  <Container size="2xl">
    <div class="flex flex-col items-center justify-center min-h-screen text-center">
      <h1 data-aos="fade-up" class="font-display text-6xl md:text-8xl mb-4 text-kuning title-stroke">MAAF TIDAK BISA DIAKSES</h1>
    </div>
  </Container>
</PageLayout>