---
import PageLayout from "@layouts/PageLayout.astro"
import { SITE } from "@config"
import Modal from "@components/Modal.astro"
import Silabus_WD from "@components/Silabus_WD.astro"
---

<PageLayout title="Web Developer" description={SITE.DESCRIPTION}>
  <div class="min-h-screen bg-retro flex flex-col justify-center items-center">
    <div class="relative z-10 container mx-auto -mt-36 px-4">
      <section class="flex flex-col justify-center items-center">
        <h1
          data-aos="fade-up"
          data-aos-delay="300"
          class="font-display text-center text-6xl sm:text-8xl md:text-9xl mb-10 lg:leading-[1.15] text-rainbow wave-text"
        >
          Web Developer
        </h1>
        <p
          data-aos="fade-up"
          data-aos-delay="900"
          class="text-sm sm:text-xl bg-ijo-muda text-balance text-center lg:w-2/3 md:text-hitam font-bold tracking-wide mb-4 py-4 rounded-3xl border-2 border-hitam"
        >
          Web Developer adalah seorang profesional yang bertanggung jawab dalam merancang, mengembangkan, dan memelihara situs web serta aplikasi web. Web Developer bekerja dengan berbagai teknologi seperti HTML, CSS, JavaScript, dan framework terkait untuk membangun antarmuka pengguna yang interaktif dan responsif.
        </p>
        <a href="#daftarModal" class="btn" id="daftarBtn"  data-aos="fade-up" data-aos-delay="1200">
          <div class="btn__content !h-14 !px-8">
            <span class="-mt-1 font-semibold sm:text-xl">Daftar Web Developer Sekarang</span>
            <svg
              class="btn__arrow h-4 opacity-90 stroke-current bold-stroke"
              width="25"
              height="15"
              fill="currentColor"
            >
              <use href="/ui.svg#arrow"></use>
            </svg>
          </div>
        </a>
      </section>
    </div>
  </div>
  <Modal id="daftarModal">
    <div class="bg-white p-6 rounded-lg">
      <h2 class="text-2xl font-bold mb-4">Pilih Jenis Pendaftaran</h2>
      <div class="flex justify-center space-x-4">
        <a href="https://forms.gle/MhG1w1XqFWrSRagG6" target="_blank" class="btn">
          <div class="btn__content !h-14 !px-8">
            <span class="-mt-1 font-semibold text-xl">Umum</span>
            <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
            </svg>
          </div>
        </a>
        <a href="https://forms.gle/JBm6FmxPPRP3VdDy8" target="_blank" class="btn">
          <div class="btn__content !h-14 !px-8">
            <span class="-mt-1 font-semibold text-xl">Gensoed</span>
            <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </Modal>
  <div class="min-h-screen">
    <div class="flex overflow-hidden justify-center shadow-lg">
      {
        [1, 2, 3, 4, 5].map((_, index) => (
          <img
            src="/chess.webp"
            alt="chess"
            class={`h-20 w-auto object-cover ${index % 2 !== 0 ? "-scale-y-100" : ""}`}
            width="80"
            height="80"
            loading="lazy"
          />
        ))
      }
    </div>
    <section class="z-10 lg:px-6 mt-10 w-full flex flex-col lg:flex-row justify-center items-center lg:items-start gap-10">
      <Silabus_WD />
    </section>
  </div>
</PageLayout>

<script>
  import { initWaveText } from "../scripts/waveText.js"
  
  document.addEventListener("DOMContentLoaded", () => {
    initWaveText();
  });

  document.addEventListener("astro:after-swap", () => {
    initWaveText()
  })
</script>