---
import { cn } from "@/lib/utils";
import { Image } from 'astro:assets';

interface Props {
  className?: string;
  title?: string;
  description?: string;
  header?: string;
  icon: string;
}

const { className, title, description, header, icon } = Astro.props;
---

<div
  class={cn(
    "row-span-1 rounded-xl group/bento hover:shadow-xl transition duration-200 shadow-input p-4 bg-white/50 border flex flex-col",
    className
  )}
>
  {header && (
    <div class="w-full flex-grow overflow-hidden rounded-lg">
      <Image 
        src={header} 
        alt={title || "Header image"} 
        width={1200}
        height={800}
        class="w-full h-full object-cover" 
        loading="lazy"
        decoding="async"
        format="webp"
        quality={80}
      />
    </div>
  )}
  <div class="mt-4 group-hover/bento:translate-x-2 transition duration-200">
    <svg class="size-7" aria-hidden="true">
      <use xlink:href={`/ui.svg#${icon}`}></use>
    </svg>
    <h3 class="font-sans font-bold text-xl mb-2 mt-2">
      {title}
    </h3>
    <p class="font-sans text-lg">
      {description}
    </p>
  </div>
</div>