---
import { cn } from "@/lib/utils"

interface Props {
  className?: string
}

const { className } = Astro.props
---

<div
  class={cn(
    "grid grid-cols-1 md:grid-cols-3 gap-4 auto-rows-fr",
    className
  )}
>
  <slot />
</div>