<a data-v-27e145af href="/guide" class="guide-btn fixed !bottom-2 md:!bottom-10 s:bottom-40 left-2 md:left-10 rounded-full text-6 s:text-10 z-10 scale-75 md:scale-100">
  <div data-v-27e145af class="guide-btn__content size-36 border border-black overflow-hidden rounded-full relative z-3">
    <div data-v-27e145af class="guide-btn__hand absolute inset-x-0 top-0 bottom-10 media-contain">
      <img data-v-27e145af src="/btn-hand.png" alt="hand" class="scale-125 mt-3">
    </div>
    <div data-v-27e145af class="absolute inset-x-0 top-0 bottom-[1em] media-contain">
      <img data-v-27e145af src="/btn-text.png" alt="text guide" class="scale-105">
    </div>
  </div>
</a>