<a data-v-27e145af href="/guide" class="guide-btn fixed !bottom-2 md:!bottom-10 s:bottom-40 left-2 md:left-10 rounded-full text-6 s:text-10 z-10 scale-75 md:scale-100">
  <div data-v-27e145af class="guide-btn__content size-36 border border-black overflow-hidden rounded-full relative z-3">
    <div data-v-27e145af class="guide-btn__hand absolute inset-x-0 top-0 bottom-10 media-contain">
      <div style="overflow: hidden;">
        <img data-v-27e145af src="/guide-hand.webp" alt="hand" style="transform: scale(1.25); transform-origin: center center; margin-top: 10px;">
      </div>
    </div>
    <div data-v-27e145af class="absolute inset-x-0 top-0 bottom-[1em] media-contain">
      <div style="overflow: hidden;">
        <img data-v-27e145af src="/guide-text.webp" alt="text" style="transform: scale(1.1); transform-origin: center center; margin-top: -4px; margin-left: 3px;">
      </div>
    </div>
  </div>
</a>