---
import Container from "@components/Container.astro"
import LogoText from "@components/LogoText.astro"
import HeaderNav from "@components/HeaderNav.astro"
---

<header
  id="header"
  class="fixed top-0 w-full py-4 z-50 transition-all duration-300"
>
  <div class="animated">
    <Container size="2xl">
      <div class="bg-[#B01F1A] p-3 rounded-3xl border border-hitam">
      <div class="bg-[#EE9B00] p-3 rounded-xl border border-hitam">
      <div class="bg-[#FEEDAA] pl-2 py-3 pr-5 rounded-sm border border-hitam">
        <div class="relative transition-all duration-300">
          <LogoText />
          <HeaderNav />
        </div>
      </div>
    </div>
    </div>
    </Container>
  </div>
</header>
