---
import Container from "@components/Container.astro"
import LogoText from "@components/LogoText.astro"
import HeaderNav from "@components/HeaderNav.astro"
---

<header id="header" class="fixed top-0 w-full h-16 md:h-24 z-50 transition-all duration-300">
  <div class="animate">
    <Container size="2xl">
      <div class="relative h-full w-full transition-all duration-300" id="header-content">
        <LogoText />
        <HeaderNav />
      </div>
    </Container>
  </div>
</header>