---
import { SITE } from "@const"

interface Props {
  isDark?: boolean
}

const { isDark = false } = Astro.props
---

<a href="/" class={`flex gap-2 items-center ${isDark ? 'text-white' : 'text-hitam'}`}>
  <img src="logo.webp" alt="logo" class="size-6 md:size-10" width="56" height="56">
  <div class="uppercase leading-tight">
    <div class={`-mb-[2px] font-display text-sm md:text-lg tracking-wide sm:tracking-widest`} >
      {SITE.TITLE}
    </div>
    <div class={`${isDark ? 'bg-white' : 'bg-hitam'} rounded-sm text-[10px] sm:font-semibold sm:tracking-wider w-fit px-1 py-[1px] md:px-2 md:py-1 ${isDark ? 'text-hitam' : 'text-white'}`} >
      {SITE.AUTHOR}
    </div>
  </div>
</a>